@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
  font-size: 16px;
  margin: 0;
}

.container {
  width: 95%;
  max-width: 100%;
  padding: 1.8rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h4 {
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
  opacity: 0.9;
}

.btn {
  border: 1px solid #3065f8;
  background-color: #3065f8;
  border-radius: 7px;
  outline: none;
  color: white;
  padding: 1rem;
  margin-left: 1rem;
  -webkit-box-shadow: 3px 5px 10px rgba(48, 101, 248, 0.15);
          box-shadow: 3px 5px 10px rgba(48, 101, 248, 0.15);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.btn:hover {
  opacity: 0.8;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form input {
  border: 1px solid #585989;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

form input::-webkit-input-placeholder {
  color: #bfbfbf;
}

form input:-ms-input-placeholder {
  color: #bfbfbf;
}

form input::-ms-input-placeholder {
  color: #bfbfbf;
}

form input::placeholder {
  color: #bfbfbf;
}

form input:focus {
  border-color: #585989;
}

form button {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex > div:first-child {
  margin-right: 1.2rem;
}

.flex > div:last-child {
  margin-left: 1.2rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.8rem 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  margin-left: 3rem;
}

header nav ul li a {
  color: #070439;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

header .flex .content h1 {
  font-size: 2.6rem;
  margin-top: 0;
}

header .flex .content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.main {
  margin-top: 6rem;
  padding: 3rem 0 5rem 0;
  position: relative;
  background: #f6f6fe;
  z-index: 10;
}

.main::before {
  content: "";
  background: url("images/bg-curve-desktop.svg") no-repeat top center/cover;
  position: absolute;
  top: -4.8rem;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: -1;
}

.main .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .flex .left h2 {
  font-size: 2.6rem;
}

.main .flex .left .green {
  color: #3c9f8f;
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.main .flex .left .green::after {
  content: "";
  width: 13rem;
  height: 1px;
  background: #3c9f8f;
  position: absolute;
  top: 2.2rem;
  left: 0;
}

.main .flex .left .green img {
  position: relative;
  left: 0;
  top: 0.3rem;
  width: 20px;
  height: 20px;
}

.main .flex .left .testimonial {
  background: white;
  padding: 2rem;
  width: 73%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 3.5rem;
}

.main .flex .left .testimonial .quote {
  width: 27px;
  opacity: 0.8;
}

.main .flex .left .testimonial p {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 1.8;
  -webkit-column-rule-color: #070439;
          column-rule-color: #070439;
  opacity: 0.75;
}

.main .flex .left .testimonial .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.3rem;
}

.main .flex .left .testimonial .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.main .flex .left .testimonial .user .info h4 {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.main .flex .left .testimonial .user .info small {
  font-size: 0.9rem;
}

.main .flex .right img {
  width: 100%;
  padding-left: 3rem;
  margin-top: 3rem;
}

.access {
  background-color: #585989;
  color: white;
  padding: 3rem;
}

.access .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access .flex .text {
  max-width: 43%;
}

.access .flex .text h2 {
  font-size: 2.3rem;
}

.access .flex .text p {
  opacity: 0.9;
}

.access .flex form {
  max-width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.access .flex form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
}

.access .flex form button {
  margin: 1.2rem 0;
  width: 43%;
  padding: 1.1rem 1.5rem;
}

footer {
  background: #070439;
  padding: 4rem 1rem 2rem 1rem;
  color: white;
}

footer ul {
  list-style-type: none;
}

footer .flex > div {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

footer .flex-st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

footer .flex-st .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

footer .flex-st .informations a {
  text-decoration: none;
  color: white;
}

footer .flex-st .informations .row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex-st .informations .row p {
  margin: 0.5rem;
}

footer .flex-st .informations .row .icon {
  width: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 2rem;
}

footer .flex-st .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

footer .flex-st .menu li a {
  text-decoration: none;
  color: white;
}

footer .flex-st .menu li:not(:first-child) {
  padding-top: 1.1rem;
}

footer .flex-st .social li {
  border: 1px solid white;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

footer .flex-st .social li a {
  color: white;
}

@media screen and (max-width: 768px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container {
    width: 90%;
  }
  header .flex > div:first-child {
    margin-right: 0;
  }
  header .flex > div:last-child {
    margin-left: 0;
  }
  header .flex .content {
    text-align: center;
  }
  header .flex .content h1 {
    margin-top: 4rem;
  }
  header .flex .content p {
    font-size: 1.4rem;
    margin: 3rem 0;
  }
  header .flex .content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  header .flex .content form input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  header .flex .content form button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0;
    margin-top: 3rem;
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  header .flex .image img {
    width: 85%;
    margin-left: 3rem;
  }
  .main {
    margin-top: 13rem;
  }
  .main::before {
    background: url("images/bg-curve-mobile.svg") no-repeat top/cover;
  }
  .main .flex .left h2 {
    text-align: center;
    font-size: 1.7rem;
    margin: 5rem 0 2rem 0;
  }
  .main .flex .left p {
    font-size: 1.6rem;
    opacity: 0.6;
  }
  .main .flex .left .green {
    top: 1.5rem;
    left: 30%;
  }
  .main .flex .left .testimonial {
    margin: 6rem auto 1rem auto;
    width: 90%;
  }
  .main .flex .right img {
    margin-bottom: 4rem;
    padding-left: 0;
  }
  .access .container {
    padding: 0;
  }
  .access .flex {
    text-align: cener;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .access .flex .text {
    max-width: 100%;
    margin-right: 0;
  }
  .access .flex .text h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .access .flex .text p {
    text-align: center;
    font-size: 1.5rem;
  }
  .access .flex div {
    width: 100%;
  }
  .access .flex div form {
    margin: 2rem auto 0 auto;
    max-width: 80%;
  }
  .access .flex div form input {
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  .access .flex div form button {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.3rem;
  }
  footer {
    text-align: left;
    padding-bottom: 1rem;
  }
  footer .ft-logo {
    margin-right: auto;
    padding-left: 0;
    width: 22rem;
  }
  footer p {
    text-align: left;
    color: white;
  }
  footer ul {
    font-size: 1.8rem;
  }
  footer .flex-st {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .flex-st .informations {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  footer .flex-st .informations li:not(:first-child) {
    margin-top: 1rem;
  }
  footer .flex-st .informations .address .icon {
    width: 20px;
  }
  footer .flex-st .informations .row {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .flex-st .informations .row p {
    margin: 0.5rem;
    font-size: 1.8rem;
  }
  footer .flex-st .informations .icon {
    width: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 2rem;
  }
  footer .flex-st .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 2.5rem 0;
  }
  footer .flex-st .menu li {
    padding-top: 1.3rem;
  }
  footer .flex-st .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .flex-st .social li {
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 1rem;
    width: 95%;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .logo {
    width: 8rem;
  }
  header nav ul li {
    margin: 1rem 1rem;
  }
  header .flex .image img {
    margin-left: 1rem;
  }
  header .flex .content h1 {
    font-size: 1.6rem;
  }
  header .flex .content p {
    font-size: 1.2rem;
  }
  header .flex .content form input,
  header .flex .content form button {
    padding: 1rem;
    font-size: 1rem;
  }
  header .flex .content form button {
    margin-top: 2rem;
  }
  .main {
    margin-top: 8rem;
  }
  .main .flex > div {
    margin: 0;
  }
  .main .flex .left h2 {
    font-size: 1.2rem;
  }
  .main .flex .left p {
    font-size: 1.2rem;
  }
  .main .flex .left .green {
    top: 1.5rem;
    left: 20%;
  }
  .main .flex .left .testimonial {
    margin: 6rem auto 0.5rem auto;
    width: 95%;
    padding: 1rem;
  }
  .main .flex .left .testimonial p {
    font-size: 1rem;
  }
  .access {
    padding: 1rem;
  }
  .access .flex .text h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .access .flex .text p {
    font-size: 1.2rem;
  }
  .access .flex div {
    margin: 0 auto;
  }
  .access .flex div form {
    width: 100%;
    margin: 0 auto;
  }
  .access .flex div form input {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .access .flex div form button {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
  }
  footer .ft-logo {
    width: 11rem;
  }
  footer ul {
    font-size: 1.2rem;
  }
  footer .flex-st .informations .row p {
    font-size: 1.2rem;
  }
  footer .flex-st .menu li {
    padding-top: 1.5rem;
  }
  footer .flex-st .social li {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */