@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// colors
$dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

// ------------------------  global styles --------------------
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $dark-blue;
  font-size: 16px;
  margin: 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h4 {
  font-family: "Raleway", sans-serif;
}
.green {
  color: $moderate-cyan;
}

.btn {
  border: 1px solid $bright-blue;
  background-color: $bright-blue;
  border-radius: 2px;
  outline: none;
  color: white;
  padding: 0.8rem;
  margin-left: 0.6rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.1s ease-in all;

  &:hover {
    opacity: 0.8;
  }
}

form {
  display: flex;

  input {
    border: 1px solid $desaturated-blue;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    border-radius: 2px;
    padding: 1rem;
    outline: none;
    flex: 0.7;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

    &::placeholder {
      color: $light-gray;
    }
    &:focus {
      border-color: $desaturated-blue;
    }
  }

  button {
    flex: 0.3;
  }
}

// ------------------------  content styles --------------------

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    flex: 1;
  }

  & > div:first-child {
    margin-right: 1.2rem;
  }

  & > div:last-child {
    margin-left: 1.2rem;
  }
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.8rem 0;

    ul {
      display: flex;
      padding: 0;
      list-style-type: none;

      li {
        margin-left: 2.8rem;

        a {
          color: $dark-blue;
          text-decoration: none;
          font-family: "Raleway", sans-serif;
        }
      }
    }
  }

  // .content {
  //   // h1 {}
  //   // p {}
  // }
}

.main {
  margin-top: 6rem;
  padding: 3rem 0;
  position: relative;
  background: $light-grayish-blue;
  z-index: 10;

  &::before {
    content: "";
    background: url("images/bg-curve-desktop.svg") no-repeat top center / cover;

    position: absolute;
    top: -4.8rem;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: -1;
  }

  .left {
    h2 {
      font-size: 2rem;
    }

    .testimonial {
      background: white;
      padding: 2rem;
      width: 67%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin-top: 3rem;

      .quote {
        width: 25px;
      }

      p {
        line-height: 1.5;
        font-size: 0.9rem;
        font-weight: 600;
        column-rule-color: $dark-blue;
        opacity: 0.75;
        letter-spacing: 0.5px;
      }

      .user {
        display: flex;
        align-items: center;
        margin-top: 1.3rem;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 0.8rem;
        }

        .info {
          h4 {
            margin: 0;
            font-weight: bold;
            font-size: 1.1rem;
          }

          small {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.access {
  background-color: $desaturated-blue;
  color: white;
  padding: 2rem;

  form {
    flex-direction: column;

    input {
      flex: 1;
      border: none;
    }

    button {
      margin: 1.2rem 0;
      width: 40%;
    }
  }
}
