@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
  font-size: 16px;
  margin: 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h4 {
  font-family: "Raleway", sans-serif;
}

.green {
  color: #3c9f8f;
}

.btn {
  border: 1px solid #3065f8;
  background-color: #3065f8;
  border-radius: 2px;
  outline: none;
  color: white;
  padding: 0.8rem;
  margin-left: 0.6rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.btn:hover {
  opacity: 0.8;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form input {
  border: 1px solid #585989;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 2px;
  padding: 1rem;
  outline: none;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

form input::-webkit-input-placeholder {
  color: #bfbfbf;
}

form input:-ms-input-placeholder {
  color: #bfbfbf;
}

form input::-ms-input-placeholder {
  color: #bfbfbf;
}

form input::placeholder {
  color: #bfbfbf;
}

form input:focus {
  border-color: #585989;
}

form button {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex > div:first-child {
  margin-right: 1.2rem;
}

.flex > div:last-child {
  margin-left: 1.2rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.8rem 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  margin-left: 2.8rem;
}

header nav ul li a {
  color: #070439;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.main {
  margin-top: 6rem;
  padding: 3rem 0;
  position: relative;
  background: #f6f6fe;
  z-index: 10;
}

.main::before {
  content: "";
  background: url("images/bg-curve-desktop.svg") no-repeat top center/cover;
  position: absolute;
  top: -4.8rem;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: -1;
}

.main .left h2 {
  font-size: 2rem;
}

.main .left .testimonial {
  background: white;
  padding: 2rem;
  width: 67%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 3rem;
}

.main .left .testimonial .quote {
  width: 25px;
}

.main .left .testimonial p {
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 600;
  -webkit-column-rule-color: #070439;
          column-rule-color: #070439;
  opacity: 0.75;
  letter-spacing: 0.5px;
}

.main .left .testimonial .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.3rem;
}

.main .left .testimonial .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.main .left .testimonial .user .info h4 {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.main .left .testimonial .user .info small {
  font-size: 0.9rem;
}

.access {
  background-color: #585989;
  color: white;
  padding: 2rem;
}

.access form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.access form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
}

.access form button {
  margin: 1.2rem 0;
  width: 40%;
}
/*# sourceMappingURL=style.css.map */